{% extends 'films/base.html' %}

<!--<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>-->


<!--    <p><label class="form-label" for="{{ form.username.id_for_label }}">логин:</label>{{form.username}}</p>-->
<!--    <p><label class="form-label" for="{{ form.password.id_for_label }}">пароль</label>{{form.password}}</p>-->


<!--    <div class="form-floating">-->
<!--        <input type="" class="form-control" id="floatingInput" placeholder="name">-->
<!--        <label for="{{ form.username.id_for_label }}">Логин</label>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class="form-floating">-->
<!--        <input type="" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--        <label for="{{ form.password.id_for_label }}">Пароль</label>-->
<!--    </div>-->

<!--    </div>-->
<!--    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>-->
<!--    <p class="mt-5 mb-3 text-muted">© 2017–2022</p>-->
<!--</form>-->


{% block content %}
<h1>Регистрация</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
</form>

{% endblock content %}


